html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.carnet {
    /* font-family: cursive; */
    width: 400px;
    padding: 20px;
    background-color: #466b78;
    border: 3px solid #CCCCCC;
    text-align: center;
    margin: 0 auto;
    color: #000000;
}


/*----------TEXTAREA------*/

.estilotextarea2 {
    font-family: Garamond,verdana;
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 5px;
}



.respuesta {
    border: 3px solid #CCCCCC;
    /*    font-family: "Times New Roman", Times, serif;*/
    font-size: 20px;
    margin-top: 0;
}
.carnet .content h1 {
    font-size: 20px;
    margin-top: 0;
    color: #000000;
    /*border: 3px solid #CCCCCC; */
    width: 100%;
    margin: 0;
}

.carnet .content h2 {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
    /*   border: 3px solid #CCCCCC;*/
    width: 100%;
    margin: 0;
}
.carnet .content #logout {
    width: 30px;
    height: 30px;
    margin: 0;
}

.carnet .content .barralogo {
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    margin: 0;
    border: 3px solid #CCCCCC;
    text-align: center;
}
    .carnet .content #perfilimg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        justify-content: center;
        border: 3px solid #CCCCCC;
    }

.carnet .content .datos {
    text-align: center;
    justify-content: center;
    font-size: 17px;
    width: 100%;
    background-color: #9fc7c5;
    border: 1px solid #c1f69c;
    border-radius: 10px;
    margin: 0;
}

    .carnet .content .datos p {
        margin: 1px 0;
        margin: 0;
    }

        .carnet .datos a {
            color: #0000FF;
            text-decoration: none;
        }

.carnet .content {
    border: 3px solid #CCCCCC;
    background-color: #94b5ce;
    background-image: url(/modelo\\FACI.jpeg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin: auto;
    padding: 6px;
    background-position: center center;
}
    /*CARNET DOCENTES*/
.carnet2 {
    /*  font-family: cursive;*/

    
    text-align: center;
    margin: 0 auto;
    color: #000000;
    justify-content: center;
}
    .carnet2 .doccontent {
        border: 3px solid white;
        width: 370px;
        height: 630px;
        background-image: url(/modelo\\DOCENTE.jpeg);
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 44px;
        background-position: center center;
        justify-content: center;
        position: relative;
        top: 10px;
    }
#espaciondeldata {
    width: 300px;
    
}
#marcofondo {
    background-color: #c1f69c;
    border: 3px solid #000000;
    width: 450px;
    height: 650px;
    margin: auto;
}
.carnet2 .doccontent .datos2 {
    border: 3px solid #000000;
    font-size: 17px;
    width: 278px;
    background-color: white;
   
    border-radius: 20px;
    justify-content: center;
    margin: 0;
}
.carnet2 .doccontent #perfilimg {
    border: 8px solid #ffffff;
    border-radius: 700px;
    position: relative;
    top: 33px;
    display: flex;
    margin: auto;
    background-color: white;
    width: 140px;
    height: 140px;
}

        .carnet2 .doccontent h1 {
         
            font-size: 17px;
            color: #000000;
            /*border: 3px solid #CCCCCC; */
            width: 100%;
            margin:0;
        }

    .carnet2 .doccontent h2 {
        
        font-size: 17px;
        
        color: #000000;

        width: 100%;
    }
    .carnet2 .doccontent .datos2 p {
    
      margin:0;
    }
        .carnet .content #link {
            border: 2px solid #CCCCCC;
            background-color: #7f9b66;
            border-radius: 10px
            /*  background-image: url(/carnet\\imagen.jpg);  border-radius: 20px;*/
        }
         #qrcodeimg {
            width: 28%;
            height: 28%;
        }

.carnet2 .doccontent .datos2 .tiposangre {
    background-color: red;
    font-size:15px;
  width:15%;
  
}
.carnet .datos .tiposangre {
    background-color: red;
    font-size: 15px;
    width: 15%;
}




@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .carnet {
        /*   font-family: cursive;*/
        width: 55%;
        padding: 20px;
        background-color: #466b78;
        border: 3px solid #CCCCCC;
        text-align: center;
        margin: 0 auto;
        color: #000000;
    }
}


@media (max-width: 700px) {
    .carnet {
        /*   font-family: cursive;*/
        width: 100%;
        padding: 20px;
        background-color: #466b78;
        border: 3px solid #CCCCCC;
        text-align: center;
        margin: 0 auto;
        color: #000000;
    }
    
}












@media (max-width: 700px) {
    .carnet2 {
        /*  font-family: cursive;*/
        width: 100%;
        padding: 20px;
        background-color: #c1f69c;
        text-align: center;
        margin: 0 auto;
        color: #000000;
        border: 3px solid #000000;
    }
    #marcofondo {
        background-color: #00000000;
        width: 100%;
        height: 100%;
        margin: auto;
        border: 3px solid #00000000;
    }
        .carnet2 .doccontent {
             border: 3px solid white;
            width: 300px;
            height: 58%;
            background-image: url(/modelo\\DOCENTE.jpeg);
            border-radius: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 30px;
            background-position: center center;
        }

            .carnet2 .doccontent .datos2 {
                font-size: 14px;
                width: 230px;
                background-color: white;
                border: 3px solid #000000;
                border-radius: 20px;
                justify-content: center;
            }

            .carnet2 .doccontent #perfilimg {
                border: 8px solid #ffffff;
                border-radius: 700px;
                position: relative;
                top: 37px;
                display: flex;
                margin: auto;
                width: 120px;
                height: 120px;
                
            }

            .carnet2 .doccontent h1 {
                padding: 5px;
                font-size: 15px;
                color: #000000;
                /*border: 3px solid #CCCCCC; */
                width: 100%;
            }

            .carnet2 .doccontent h2 {
                font-size: 12px;
                color: #000000;
                /*   border: 3px solid #CCCCCC;*/
                width: 100%;
            }

            .carnet2 .doccontent .datos2 p {
                margin: auto;
            }
            .carnet2 .doccontent .datos2 .tiposangre {
                background-color: red;
                font-size: 15px;
                width: 15%;
            }
    #espaciondeldata {
        width: 100%;
    }

    
   
}










        /*BOTONES GENERALES*/
.btn {
    display: inline-block;
   
    
    color: #fff;
    border: 2px solid #fff;
   
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
        /*pr - sty*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 576px) {
    :root {
        --font-size-title: 40px;
    }
}

.card {
    max-width: 960px;
    border-radius: var(--border-radius-primary);
    box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 28px 20px;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .card {
        flex-direction: row;
        align-items: center;
        margin: 40px;
        padding: 32px;
    }
}

.card__image {
    width: 100%;
    max-height: 300px;
    border-radius: var(--border-radius-primary);
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 18px;
}

@media (min-width: 576px) {
    .card__image {
        width: 45%;
        max-height: none;
        min-height: 400px;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    .card__content {
        width: 55%;
        padding-left: 40px;
    }
}

.card__date {
    display: block;
    /*  font-family: var(--font-family-secondary);*/
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 6px;
}

@media (min-width: 576px) {
    .card__date {
        margin-bottom: 8px;
    }
}

.card__title {
    /*  font-family: var(--font-family-primary);*/
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: var(--color-text);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
    background-size: 100% 42%;
    background-repeat: no-repeat;
    background-position: 0 85%;
    padding: 0 4px;
    margin-left: -4px;
}

 .buttons-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background: white;
    border: solid 2px black;
    padding: .375em 1.125em;
    font-size: 1rem;
}

.button-arounder {
    font-size: 2rem;
    background: hsl(190deg, 30%, 15%);
    color: hsl(190deg, 10%, 95%);
    box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
    transfrom: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    --dur: .15s;
    --delay: .15s;
    --radius: 16px;
    transition: border-top-left-radius var(--dur) var(--delay) ease-out, border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out, border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out, border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out, box-shadow calc(var(--dur) * 4) ease-out, transform calc(var(--dur) * 4) ease-out, background calc(var(--dur) * 4) steps(4, jump-end);
}

    .button-arounder:hover,
     .button-arounder:focus {
        box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
        transform: translateY(-4px);
        background: hsl(230deg, 50%, 45%);
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }

    // NUEVOS ESTILOS param ellipse DISEÑO GENERAL defs label PAGINA
