USE [master]
GO
/****** Object:  Database [rgutelvt]    Script Date: 15/03/2023 21:40:40 ******/
CREATE DATABASE [rgutelvt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rgutelvt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\rgutelvt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rgutelvt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\rgutelvt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rgutelvt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rgutelvt]
GO
/****** Object:  Table [dbo].[detallestb]    Script Date: 15/03/2023 21:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallestb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](200) NULL,
	[surnames] [varchar](200) NULL,
	[specialty] [varchar](200) NULL,
	[faculty] [varchar](50) NULL,
	[CI] [varchar](50) NULL,
	[imgcarnet] [text] NULL,
	[iduser] [int] NULL,
	[dateupdate] [date] NULL,
	[datecreate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usertb]    Script Date: 15/03/2023 21:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usertb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[passwords] [varchar](1000) NULL,
	[dateupdate] [date] NULL,
	[datecreate] [date] NULL,
	[numberverify] [varchar](1000) NULL,
	[verifyuser] [int] NULL,
	[rol] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detallestb]  WITH CHECK ADD FOREIGN KEY([iduser])
REFERENCES [dbo].[usertb] ([id])
GO
USE [master]
GO







//------------------------------------------------------------//
            modelBuilder.Entity<Detallesdocetb>(entity =>
            {
                entity.ToTable("detallesdocetb");

                entity.Property(e => e.Id).HasColumnName("id");

                entity.Property(e => e.Ci)
                    .HasMaxLength(50)
                    .IsUnicode(false)
                    .HasColumnName("CI");

                entity.Property(e => e.Datecreate)
                    .HasColumnType("date")
                    .HasColumnName("datecreate");

                entity.Property(e => e.Dateupdate)
                    .HasColumnType("date")
                    .HasColumnName("dateupdate");

                entity.Property(e => e.Faculty)
                    .HasMaxLength(50)
                    .IsUnicode(false)
                    .HasColumnName("faculty");

                entity.Property(e => e.Fullname)
                    .HasMaxLength(200)
                    .IsUnicode(false)
                    .HasColumnName("fullname");

                entity.Property(e => e.Iduser).HasColumnName("iduser");

                entity.Property(e => e.Imgcarnet)
                    .HasColumnType("text")
                    .HasColumnName("imgcarnet");

                entity.Property(e => e.Bloodtype)
                    .HasMaxLength(10)
                    .IsUnicode(false)
                    .HasColumnName("bloodtype");

                entity.Property(e => e.Surnames)
                    .HasMaxLength(200)
                    .IsUnicode(false)
                    .HasColumnName("surnames");

                entity.HasOne(d => d.IduserNavigation)
                    .WithMany(p => p.Detallesdocetbs)
                    .HasForeignKey(d => d.Iduser)
                    .HasConstraintName("FK__detallesdocetb__iduse__398D8EEE");
            });

